<section class="reviews">
  <div class=".container">
    <h1 class="reviews-title">
      reviews from our <span class="reviews-title-part">customers</span>
    </h1>
    <p class="reviews-text">
      Words of our customers: impressions and opinions about the quality of our
      services and the freshness of our products.
    </p>
    <div class="reviews-container">
      <img src="" alt="" />
      <h2 class="reviews-subtitle">John Wax</h2>
      <p class="reviews-subtitle-text">
        These vegetables are my secret to delicious and healthy meals. The
        quality is always at the highest level, the aroma and taste are
        enchanting. I advise every fan of real products!
      </p>
    </div>
  </div>
</section>
