<section class="reviews">
  <div class="container">
    <h1 class="reviews-title">
      reviews from our <span class="reviews-title-part">customers</span>
    </h1>
    <p class="reviews-text">
      Words of our customers: impressions and opinions about the quality of our
      services and the freshness of our products.
    </p>
    <ul class="reviews-list">
      <li class="reviews-item">
        <img
          class="reviews-images"
          srcset="
            /img/reviews/review-1-min.jpg    1x,
            /img/reviews/review-1@2x-min.jpg 2x
          "
          src="/img/reviews/review-1-min.jpg"
          alt="john"
        />

        <h2 class="reviews-subtitle">John Wax</h2>
        <p class="reviews-subtitle-text">
          These vegetables are my secret to delicious and healthy meals. The
          quality is always at the highest level, the aroma and taste are
          enchanting. I advise every fan of real products!
        </p>
      </li>
      <li class="reviews-item">
        <img
          class="reviews-images"
          srcset="
            /img/reviews/review-2-min.jpg    1x,
            /img/reviews/review-2@2x-min.jpg 2x
          "
          src="/img/reviews/review-2-min.jpg"
          alt="victoria"
        />
        <h2 class="reviews-subtitle">Victoria Romashenko</h2>
        <p class="reviews-subtitle-text">
          I love how fast and fresh the vegetables are delivered. Salads always
          turn out so appetizing, and soups are real masterpieces. The quality
          is impeccable!
        </p>
      </li>
      <li class="reviews-item">
        <img
          class="reviews-images"
          srcset="
            /img/reviews/review-3-min.jpg    1x,
            /img/reviews/review-3@2x-min.jpg 2x
          "
          src="/img/reviews/review-3-min.jpg"
          alt="ihor"
        />
        <h2 class="reviews-subtitle">Ihor Trachuk</h2>
        <p class="reviews-subtitle-text">
          Recently tried my fresh tomatoes and peppers - amazing! The
          authenticity of the taste, as if from the garden directly to my table.
          It is now my main vegetable supplier.
        </p>
      </li>
    </ul>
  </div>
</section>
